#myCanvas {
    background: white;
    border-color: black;
    /*border-radius: 5% 20% 40% 15%;*/
}

#menu {
    float: left;
    line-height: 50px;
    padding: 20px;
    margin-right: 10px;
}

#canva {
    line-height: 50px;
    padding: 20px;
    margin-left: 10px;
}

body {
    background-image: url("mouse_icon/background.png");
}

label {
    padding: 10px;
    display: table;
    color: #fff;
    width: 60px;
    height: 55px;
    text-align: center;
    line-height: 47px;
}

input[type="file"] {
    display: none;
}

.btn {
    color: white;
    width: 80px;
    height: 80px;
}

.slidecontainer {
    width: 100%;
}

#right {
    position: relative;
    margin-left: 1500px;
    float: left;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#color-picker {
    position: relative;
    width: 180px;
    height: 150px;
}

#color_label {
    position: relative;
    height: 10px;
    width: 10px;
}

#color_block {
    float: left;
}

#color_strip {
    float: left;
}


/*@media only screen and (max-width: 1220px) {
    #myCanvas {
        width: 700px;
        height: 550px;
        background: white;
        border-color: black;
        border-radius: 5% 20% 40% 15%;
    }
    #menu {
        float: left;
        line-height: 10px;
    }
    #canva {
        float: right;
        line-height: 10px;
    }
    .btn {
        color: white;
        width: 70px;
        height: 70px;
    }
    label {
        padding: 10px;
        display: table;
        color: #fff;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 47px;
    }
    #color-picker {
        position: relative;
        width: 180px;
        height: 150px;
    }
    #color_block {
        float: left;
    }
    #color_strip {
        float: left;
    }
    .slidecontainer {
        width: 40px;
    }
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .slider:hover {
        opacity: 1;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
    .slider::-moz-range-thumb {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
    #font {
        width: 40px;
    }
    #text_input {
        width: 40px;
    }
}*/